<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SourceFilePathRoot" value="C:\Exported Data Service\"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=LUCKY-Man;initial catalog=CVAcademician;User Id=sa;Password=1234;connection lifetime=0;min pool size=1;max pool size=10;Connection Timeout=30" name="CVAcademician"/>
    <add name="OracleConnectionString" connectionString="Data Source=xmsbda;User Id=sa;Password=abc123456;connection lifetime=0;min pool size=10;max pool size=100"/>
  </connectionStrings>
</configuration>
